# Please do not add your editor's dot files here (i.e. no `.vscode` here).
# Put them to .git/info/exclude or ~/.config/git/ignore if you want to do it
# globally.
# See https://git-scm.com/docs/gitignore for more details on these files.

CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
libshared.a
cmake.h
lex
patches
